<main>
    <form class="form-horizontal" id="form-horizontal1" method="post" action="/admin/user/delete/{{userToDelete.id}}" autocomplete="on">
        <fieldset id="createArticleStep1">
            <legend id="createArticleLegend">Delete User - {{ userToDelete.fullName }}</legend>

            <label for="email">Email</label>
            <input type="text" class="form-control" id="inputTitle" value="{{ userToDelete.email }}" name="email" disabled autofocus required>

            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="inputDescription" value="{{ userToDelete.fullName }}" name="fullName"
                   disabled>

            <div class="form-group">
                <a class="btn-default" id="btn-default" href="/admin/user/all">Cancel</a>
                <button type="submit" class="btn-primary" id="btn-primary">Delete</button>
            </div>
        </fieldset>
    </form>
</main>