<!Doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Free Guide for adventurers" />
    <meta name="keywords" content="place, fun, travel, Bulgaria, guide, found" />
    <!-- <meta http-equiv="refresh" content="60" /> -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <base href="index.html" target="_self" />

    <title>404PlaceNotFound</title>

    <script type="text/javascript" src="/javascripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/javascripts/datepicker.js"></script>
    <script type="text/javascript" src="/javascripts/eye.js"></script>
    <script type="text/javascript" src="/javascripts/layout.js?ver=1.0.2"></script>
    <script type="text/javascript" src="/javascripts/snow.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        window.onload = function() {
            try {
                snow.count = 76;   // number of flakes
                snow.delay = 20;   // timer interval
                snow.minSpeed = 2; // minimum movement/time slice
                snow.maxSpeed = 2; // maximum movement/time slice
                snow.start();
            } catch(e) {
                // no snow :(
            }
        };
        //]]>
    </script>

    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="/stylesheets/datepicker.css" />

</head>
<body>
<div id="headerNav">
    <nav>
        <ul class="nav navbar-nav navbar-right">
            {{#if user}}
                        {{#if isEditor}}
                            <li class="dropdown" id="onlyThisLi">
                                <a href="/editor/article/all" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false">Editor<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/editor/article/all">Articles</a></li>
                                </ul>
                            </li>
                        {{/if}}
                        {{#if isAdmin}}
                            <li class="dropdown" id="onlyThisLi">
                                <a href="/admin/user/all" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-expanded="false">Admin<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/admin/user/all">Users</a></li>
                                    <li><a href="/admin/extra/all">Extras</a></li>
                                </ul>
                            </li>
                        {{/if}}
                        <li id="onlyThisLi"><a href="#">Welcome({{user.email}})</a></li>
                        <li id="onlyThisLi"><a href="/user/logout">Logout</a></li>
            {{/if}}
            {{#unless user}}
                <li id="onlyThisLi"><a href="/user/register">Register</a></li>
                <li id="onlyThisLi"><a href="/user/login">Login</a></li>
            {{/unless}}
            <a id="title1" href="/" class="navbar-brand">404 <sup>Place</sup><sub>Not</sub> Found ?</a>
        </ul>
    </nav>
</div>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
{{{body}}}
</body>
<footer>
    <div id="footer">
        <p>
            One project of :<br /><br /><span id="footerSpan">Tsvetan<br />Yavor<br />Anton<br />Viktor</span>
        </p>

        <img id="logo" src="/images/404logo.png" alt="logo">
    </div>
</footer>
</html>
