<main>
    <form class="form-horizontal" id="form-horizontal" method="post" action="/user/login" autocomplete="on">
        <fieldset id="loginFieldset">
            <legend id="loginLegend">Login</legend>

            <label for="mail">Email</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" autofocus required>

            <label for="password">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>

            <div class="form-group">
                <a class="btn btn-default" href="/">Cancel</a>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </fieldset>
    </form>
</main>

