<main>
    <form class="form-horizontal" id="form-horizontal" method="post" action="/user/register" autocomplete="on">
        <fieldset id="loginFieldset1">
            <legend id="registerLegend">Register</legend>

            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" autofocus required value="{{email}}">

            <label for="inputFullName">Full Name</label>
            <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required name="fullName" value="{{fullName}}">

            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="password">

            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" required name="repeatedPassword">

            <div class="form-group">
                <a class="btn btn-default" id="btn-default-register" href="/">Cancel</a>
                <button type="submit" class="btn btn-primary" id="btn-primary-register">Register</button>
            </div>
        </fieldset>
    </form>
</main>