body {
	background-color: #f1f1f1;
    margin: 0;
	padding:0;
	font-size: 100%;
	position:relative;
}

#headerNav {
    position: relative;
    bottom: 1em;
    width: 100%;
}

sup {
	color: #6c9f43;
}

sub {
	color: #fa0300;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #5f5f5f;
	border-bottom: 3px solid black;
}

#onlyThisLi {
    float: left;
}

li a, .dropdown-toggle {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
	font-family:verdana;
}

#title1 {
	font-size: 2em;
	color: white;
	font-family:verdana;
    text-decoration: none;
	float: right;
	padding-right: 19px;
}

li a:hover, .dropdown:hover, .dropdown-toggle:hover, #extrasEditBt:hover, #extrasDeleteBt:hover {background-color: #111111; opacity: 0.7; }

/* LogedIn-Menu */

li.dropdown {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {background-color: #f1f1f1; color: #fa0300; font-weight:bold;}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* LogedIn-Menu  End*/



#headlineH1 {
	text-align: center; 
	color: #5f5f5f; 
	font-family:verdana;
}

#form1fieldset {
	border-bottom: 3px solid #5f5f5f;
	border-top: 3px solid #5f5f5f;
	margin-left: auto;
    margin-right: auto;
	padding: 50px;
}

#search {
	width: 96%;
    height: 38px;
	padding: 10px;
	border: 3px solid #5f5f5f;
	border-radius: 4px;
	box-sizing: border-box;
}

#searchButton {
	width: 37px;
    float: right;
}

#searchButton:hoover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#spanDate {
	padding-left: 90px;
}

center p {
	font-family:verdana;
	text-align: center; 
	color: #5f5f5f; 
	font-size: 1.2em;
	font-variant: small-caps;
}

#map {
	width:100%;
	height:500px;
}

/* @MEDIA QUERIES */

@media screen and (max-width: 525px){
	#title1, ul li {font-size:0.84em; }
	#title1 {position: relative; top: 15px; float: none;}
	#loginFieldset {top: 0em!important;}
	#loginLegend {font-size: 2.6em;  margin-bottom:1em;}
	#extraLegend {font-size: 2em;}
	#loginFieldset1 {top: 0em!important;}
	#registerLegend{top: 29px; font-size: 1em;}
	#inputFullName, #inputEmail, #inputPassword{margin-bottom: 10px!important;}
	#btn-default-register {margin-bottom:0px; top: 12px;}
	#btn-primary-register {margin: 29px 0px 0px 0px;}
	.form-horizontal{height: 34.7em!important; margin: -1em auto 1em!important;}
	#footer {left: 12%!important}
	#date3 {width: 12.5em; overflow: hidden;}
	#newExtra {top: 4em!important;}
	#btn-primary {margin: 8px 0px 0px 0px;}
	#btn-default {top: 15px!important;}
	#inputTitle, #inputPrice, #inputLocation, #inputDescription {margin-bottom: 0px!important;}
	#createArticleLegend {top: 0px; padding-bottom: 0px; font-size: 0.8em;}
	#createArticleExtras3 {font-size: 1em;}
	.btn-primary1 {margin-top:21px!important; margin-bottom: 0px!important;}
	#createArticleExtras4 {font-size: 1em;}
	#inputContactEmail, #inputContactPhone, #inputContactWebSite {margin-bottom: 0px!important;}
}


@media screen and (max-width: 1190px) and (min-width: 524px) {
	#calendar {width: 23.5em; overflow: hidden; padding-left: 10px;
	position: relative; right: 8px;}
	#date3 {position:relative; right:1em;}
}

@media screen and (max-width: 1125px) and (min-width: 525px) {
	#createArticleLegend {font-size: 3em;}
}

@media screen and (max-width: 860px) and (min-width: 525px) {
	#newExtra {top: 0em!important;}
}

@media screen and (max-width: 925px) and (min-width: 525px) {
	#createArticleExtras3 {font-size: 2.55em!important;}
}

.button {
	color: white;
	padding: 6px;
	text-align: center;
	font-size: 16px;
	margin: 4px 0px -10px;
	border-radius: 4px;
	display: none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: Verdana;
}
.button5 {
	background-color: white;
	color: black;
	border: 3px solid #555555;
	width: 96%;
}

.button5:hover {
    background-color: #555555;
    color: white;
}
@media screen and (max-width: 1190px){
	.button, .button5 {display: inline-block;}
	#searchButton {display: none;}
}

/* @MEDIA QUERIES - END */

/* Login % Register form CSS */

.form-horizontal, #form-horizontal {
	border-radius: 15px;
	background-color: #bfbfbf;
	width: 50%;
	height: 40.7em;
	margin: 0 auto 2em;
	position: relative;
}

/* @MEDIA QUERIES - Login/Register */

@media screen and (max-width: 1370px) and (min-width: 524px){
	.form-horizontal{height: 33em; margin: -15px auto 0.9em auto;}
	#loginFieldset{top: -1em;}
	#form-horizontal{height: 37.7em!important;}
	#loginFieldset1{top: -4.1em!important;}
	#registerLegend{top: 71px; font-size: 2em; padding-bottom: 24px;}
	/*#inputFullName, #inputEmail, #inputPassword{margin-bottom: 10px!important;}*/
	#btn-default-register {margin-bottom:0px; top: 12px;}
	#btn-primary-register {margin: 29px 0px 0px 0px;}
	#footer {left: 37%!important;}
	#createArticleStep1, #createArticleStep2, #createArticleStep3{top:-2em!important;}
	#createArticleStep4 {top: -1em;}
	#album {left: 13.5em!important; bottom: 4.5em!important;}
	#form-horizontal1{height: 34.5em!important;}
	#form-horizontal3{height: 37.5em!important;}
	#form-horizontal5 {height: 19em; margin: 30px auto auto auto; width: 100%; right: 3px;}
}

@media screen and (max-width: 1370px) and (min-width: 860px) {
	#newExtra {top: 2em!important;}
}

@media screen and (max-width: 1245px) and (min-width: 525px) {
	#createArticleExtras4 {font-size: 3em;}
}

@media screen and (min-width: 1370px) {
	#form-horizontal5 {height: 18em; margin: 30px auto auto auto; width: 100%; right: 3px;}
}

@media screen and (min-width: 1370px) {
	.centerPagin {width: 90.2em;}
	.pagination {padding-left: 38em!important;}
}
/* @MEDIA QUERIES - Login/Register - END */

#form-horizontal{height: 48.5em;}
#form-horizontal1{height: 40.1em;}
#form-horizontal2{height: 55em;}
#form-horizontal3{height: 40.1em;}
#form-horizontal4{height: 54.5em;}

#upload-photos{height: 42em;}


#loginFieldset1{top: -2.3em;}
fieldset, #createArticleStep1 {
	border: none;
	padding: 7.5%;
    position: relative;
    top: 1em;
}

#createArticleStep1, #createArticleStep2, #createArticleStep3{top:0em;}

#newExtra {top:4em;}

legend {
	font-family: verdana;
	text-align: center;
	color: #5f5f5f;
	font-variant: petite-caps;
	position: relative;
	top: 1em;
	font-size: 3.5em;
	padding-bottom: 30px;
}

#inputEmail, #inputPassword, #inputFullName, #inputExtraName, #inputTitle, #inputPrice, #inputLocation, #inputDescription, #inputContactEmail, #inputContactPhone, #inputContactWebSite {
	width: 100%;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 30px;
}

label {
	font-family: verdana;
	color: #5f5f5f;
	font-variant: petite-caps;
	position: relative;
	left:1px;
}

.btn-default, #btn-default {
	background-color: #fa0300;
	color: white;
	padding: 14px 0;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	display: inline-block;
	width: 99.87%;
	text-align: center;
	box-shadow: inset 0 1px 3px #ddd;
	font-family: verdana;
	text-align: center;
	font-variant: petite-caps;
	font-weight: bold;
	top:0;
	margin-bottom:0;
}

.btn-default {
	top: 15px;
	margin-bottom: 30px;
}

.btn-primary, #btn-primary, .btn-primary1, .btn-primary2 {
    width: 100%;
    background-color: #6c9f43!important;
    color: white;
	font-family: verdana;
	text-align: center;
	font-variant: petite-caps;
	font-weight: bold;
	font-size: 14px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	box-shadow: inset 0 1px 3px #ddd;
}

.btn-primary1 {margin-bottom:2.5em; margin-top:47px; margin-left:0; margin-right: 0;}

.btn-primary {
    margin: 47px 0px 0px 0px;
}
#btn-primary {
    margin: 33px 0px 0px 0px;
}

.btn-default:hover, .btn-primary:hover, #btn-primary:hover, #btn-default:hover, .btn-primary1:hover, .btn-primary2:hover {
    background-color: #111111;
}

/* Adding Photos in article create step 2-3  */

.form-group{margin-bottom: 2em;}
#form-group {
	width:23%;
}

span{float:right}

#album{
	position: absolute;
	left: 29em;
	bottom: 5.5em;
}

.col-md-4 {
	padding: 0 6px;
	float: left;
	width: 17.5%;
	box-sizing: border-box;
}

.col-md-4 img {
	width: 100%;
	height: auto;
}

.close::before {
	content: "✕";
	font-size: 16.5px;
}

.close:hover {
	color:red;
}

.close {
	position: relative;
	cursor: pointer;
	font-weight: bold;
	color: white;
}


/* Adding Photos in article create step 2-3 END */

textarea {resize:none;}

/* Login form CSS - End*/

/* allExtra(Articles)-CreateStep table */

	.well, #well {
    padding: 10%;
    background-color: #bfbfbf;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.7%;
    margin-bottom: 4.7%;
    border-radius: 4px;
	}
	
	@media screen and (max-width: 1370px){
	#well {padding: 1.8% 10% 1.8% 10%;}
}
	
	#well {width: 50%;}
	.well {width: 75%;}
	
	.well h2, #well h2{
	font-size: 32px;
    text-align: center;
	}
	
	.btnCreateNew{
	color: #ffffff;
    background-color: #f39c12;
	display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
	text-decoration: none;
	box-sizing: border-box;
	}
	
	.btnCreateNew:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
    position:relative;
	bottom:5px;
	}

	.row {
    margin-left: -15px;
    margin-right: -15px;
	}
	
	.table {
    width: 100%;
    margin-bottom: 21px;
	}
	
	thead {
	display: table-header-group;
    text-align: left;
	}
	
	#thId{width: 30em;}
	#thIda{width: 27em;}
	#thId2{width: 15em;}
	#thId2a{width: 27em;}
	#thId3{width: 20em;}
	
	#extrasEditBt, #extrasDeleteBt{
	color: #ffffff;
	display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
	text-decoration: none;
	box-sizing: border-box;
	width: 8em;
	}
	
	.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
	}
	
	#tdNoBgColor{background-color:#bfbfbf;}
	#extrasEditBt {background-color:#6c9f43;}
	#extrasDeleteBt {background-color:#fa0300;}
/* allExtra(Articles)-CreateStep table  END*/

footer	{
	background-color: #5f5f5f;
	border-top: 3px solid black;
}

#footer {
	display: inline-block;
    position: relative;
    left: 43%;
}

#footer p {
	color: white;
	text-align: right;
	display: inline-block;
	position: relative;
    bottom: 1.8em;
	font-family: verdana;
}

#footerSpan {
    position: relative;
    right: 6px;
    bottom: 4px;;
}

#logo {
	position: relative;
    height: 102px;
	top: 3em;
}

/* SNOW adjustment */
#backgroundSnowCanvas {width:100%; height:100%;}

/*Pagination*/

#paginList {float: left;}

.pagination {
	padding-left: 27em;
	border-radius: 4px;
}

.paginationExtras {
	padding-left: 17em;
	border-radius: 4px;
}

/*MoreInfo View*/

#moreInfoTitle {
	color:black;
	text-align: center;
	font-family: Verdana;
}

#mainDivMIPage {
	border: 3px solid black;
	margin: 15px;
	padding: 10px;
	border-radius: 15px;
	background: #d9d9d9;
	opacity: 0.9;
	margin-bottom: 3em;
}

#moreInfoPictures {
	display: inline-block;
	float: left;
}

#moreInfoText{
	float: left;
	margin: auto;
	padding: 13px 2px;
	color: black;
	font-size: large;
	font-family: Verdana;
}

#moreInforMainIMG {
	float:left;
	padding:2px;
	height:460px;
	width:840px;
}

#moreInforIMGs {
	float:left;
	padding:2px;
	height:120px;
	width:180px;
}

#moreInfoExtras {
	padding-left: 4px;
	font-size: large;
	font-family: Verdana;
	clear: both;
}

#moreInfoPriceContacts {
	color: black;
	padding: 4px;
	display: inline-block;
	float: left;
	font-size: large;
	font-family: Verdana;
	padding-bottom: 1em;
}

#moreInfoContactsAdjust {
	padding-left: 20px;
}

#moreInfoExtrasLayout {padding-left: 20px;	color:#6c9f43;}

/*Comments*/
#commentsSection {padding-left: 6px;}

#commentsDropDown {
	font-family: Verdana;
	font-size: large;
}

#moreInfoAuthorName {
	color: #6c9f43;
	font-size: small;
}

#comments{
	margin-top: 20px;
	overflow-wrap: break-word;
	margin-right: 0.5em;
	font-family: Verdana;
}

#commentsFieldSet {
	padding: 1%;
	top: 0.1em;
}

#inputComment {
	resize: none;
	width: 99.5%;
	height: 10.5em;
}

#form-group-comments {margin-bottom: 0;}


/* Articles Window */

#articleSearchRezult {
	color:black;
	text-align: center;
	font-family: "Verdana";
}

#articleImage {
	width: 250px;
	height: 250px;
}

#articlesContentInfo {
	padding-left: 14.5em;
	font-size: large;
	font-family: "Verdana";
}

#articlesPrices {float: none; color:#fa0300; font-family: "Verdana";}

#articlesInfos {float: none; margin: 20px; font-family: "Verdana";}