<main>
    <form class="form-horizontal" method="post" action="" autocomplete="on">
        <fieldset id="newExtra">
            <legend id="extraLegend">Delete Extra</legend>
            <input type="text" class="form-control" id="inputExtraName" placeholder="new Extra Name"
                   value="{{ extra.name }}" disabled name="inputName" autofocus required>

            <div class="form-group">
                <a class="btn-default" href="/admin/extra/all">Cancel</a>
                <button type="submit" class="btn-primary">Delete</button>
            </div>
        </fieldset>
    </form>
</main>