<main>
    <form class="form-horizontal" id="form-horizontal1" method="post" action="" autocomplete="on">
        <fieldset id="createArticleStep1">
            <legend id="createArticleLegend">Delete Article</legend>
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" name="inputTitle" value="{{article.title}}" disabled autofocus required>

            <label for="Description">Description</label>
            <textarea class="form-control" id="inputDescription" rows="5" required name="inputDescription" disabled>{{article.description}}</textarea>

            <div class="form-group">
                <a class="btn-default" id="btn-default" href="/editor/article/all">Cancel</a>
                <button type="submit" class="btn-primary" id="btn-primary">Delete</button>
            </div>
        </fieldset>
    </form>
</main>